<h1>Editing doctors reservation</h1>

<%= render "form", doctors_reservation: @doctors_reservation %>

<br>

<div>
  <%= link_to "Show this doctors reservation", @doctors_reservation %> |
  <%= link_to "Back to doctors reservations", doctors_reservations_path %>
</div>
