<p style="color: green"><%= notice %></p>

<h1>Doctors reservations</h1>

<div id="doctors_reservations">
  <% @doctors_reservations.each do |doctors_reservation| %>
    <%= render doctors_reservation %>
    <p>
      <%= link_to "Show this doctors reservation", doctors_reservation %>
    </p>
  <% end %>
</div>

<%= link_to "New doctors reservation", new_doctors_reservation_path %>
